### Omer Javed
### FA15-BCS-100
#### Week 1 day 4

### Lists

Lists are collection of hytrogenous objects, which can store anything, they can store more than one datetypes.

In [11]:
my_list = [1,2,3,4,5,6,7] #initialization of list
fam = ['liz',1.73,'emma',1.68,'oj',1.98] #mix datatypes
print(my_list)  #printing list
print(fam)

[1, 2, 3, 4, 5, 6, 7]
['liz', 1.73, 'emma', 1.68, 'oj', 1.98]

In [12]:
x = ["a",'b',"c"]
x

['a', 'b', 'c']

In [13]:
nest_list1 = [1,2,3,4,[11,22,33,44]] #list in a list
print(nest_list1)

[1, 2, 3, 4, [11, 22, 33, 44]]

In [14]:
print(nest_list1[4]) #print nested list

[11, 22, 33, 44]

In [15]:
print(nest_list1[4][1]) #print something from nested list

22

In [18]:
nest_list2 = [1,2,3,[4,5,['Muhammad']]] #nested 3rd level
print(nest_list2[3])
print(nest_list2[3][2][0])
#print something from nested list

[4, 5, ['Muhammad']]
Muhammad

In [19]:
y = list(x) # copying elements of x into y
y

['a', 'b', 'c']

In [39]:
y[1]='B' #mutating list
print(x)
print(y)

['a', 'b', 'c']
['a', 'B', 'c']

#### slicing and indexing

In [10]:
print(fam[0:])
print(fam[1:3])
print(fam[:4])
print(fam[-1])

['liz', 1.73, 'emma', 1.68, 'oj', 1.98, 'faisal']
[1.73, 'emma']
['liz', 1.73, 'emma', 1.68]
faisal

In [21]:
y = x[:] # copying elements of x into y
print(x)
print(y)

['a', 'b', 'c']
['a', 'b', 'c']

In [36]:
fam

['liz', 1.73, 'emma', 1.68, 'oj', 1.98, 'omer', 'omer']

In [35]:
fam[-1] #return last element

'omer'

In [38]:
fam[-2] #return second last element

'omer'

In [37]:
fam[-3] #return third last element

1.98

#### Lists Methods

In [2]:
my_list.append(8) #append something at end
print(my_list)
my_list.append("9") #append something at end
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, '9']

In [5]:
fam = fam + ['faisal',1.79] # add or concatenate lists
print(fam)

['liz', 1.73, 'emma', 1.68, 'oj', 1.98, 'faisal', 1.79]

In [6]:
len(fam) # it tell how many elements list is containing

8

In [8]:
del fam[-1] # to delete element 
print (fam)

['liz', 1.73, 'emma', 1.68, 'oj', 1.98, 'faisal']

In [22]:
print(my_list)
print(max(my_list)) #return maximax number or charater
min(my_list)        #returns minimum number or character

[1, 2, 3, 4, 5, 6, 7]
7

1

In [26]:
fam

['liz', 1.73, 'emma', 1.68, 'oj', 1.98]

In [27]:
fam.index('oj')#return index of element

4

In [29]:
fam.append('omer')
fam

['liz', 1.73, 'emma', 1.68, 'oj', 1.98, 'omer', 'omer']

In [30]:
fam.count('omer')  #count number of occurence of 'omer'

2

In [31]:
print(my_list) #sorted list in accending order
sorted(my_list)

[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [40]:
my_list.reverse()  #reverse the list
my_list

[2, 3, 30, 4, 5, 6, 7]

In [42]:
print(my_list)
sum(my_list) #sum of all elements of list

[2, 3, 30, 4, 5, 6, 7]

57

In [45]:
my_list.pop() #pop/remove last element of list

'oj'

In [46]:
my_list.insert(4,30) # insert element at 4 index value 30
print(my_list)

[2, 3, 30, 4, 30, 5, 6, 7, 'oj']

In [9]:
print(fam[0:])
print(fam[1:3])
print(fam[:4])
print(fam[-1])

['liz', 1.73, 'emma', 1.68, 'oj', 1.98, 'faisal']
[1.73, 'emma']
['liz', 1.73, 'emma', 1.68]
faisal

In [49]:
#interlude objects
#it print imaginery part of variable
x = 12
print(x.imag)

0

In [51]:
y = 21 + 4j
print(y.imag)

4.0

In [56]:
print(x.bit_length) 
x.bit_length()

<built-in method bit_length of int object at 0x558514844b60>

4

### Tuples
Tuples are immutable list. which means that we can't change or delete element from tuple after it is initialized

In [57]:
tuple1 = (1,2,3,4,5)
print(tuple1)
print(tuple1[-3])
print(tuple1[1:4])

#tuple is like list but we cannot change value in tuple

(1, 2, 3, 4, 5)
3
(2, 3, 4)

In [58]:
tuple1[2] = 5

#above line generate error because we can't change data

TypeError: 'tuple' object does not support item assignment

In [60]:
videoData = tuple(['8pe Introduction',25,100,3])
videoData #squre brackets are converted into delimeters

('8pe Introduction', 25, 100, 3)

In [61]:
#read data from tuple
videotitle,runningtime,upvotes,downvotes = videoData #assigning data to variabless
print(videotitle)
print(runningtime)
print(upvotes)
print(downvotes)

8pe Introduction
25
100
3

In [64]:
#_integer_ratio() method of float objects returns a numerator and a de-
# nominator in the form of a tuple:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [ ]:
#trick for swaping

In [65]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1