# Omer Javed
### FA15-BCS-100

### week 1 day 6

### Strings
    One place where the Python language really shines is in the manipulation of strings. This section will cover some of Python's built-in string methods and formatting operations.

Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [27]:
a= 'My name is Omer' #String in single quote
a

'My name is Omer'

In [28]:
b="I love Allah" #String in double quote
b

'I love Allah'

In [49]:
 c=""" This is multiline string 
encapsulated in 3 
double quotes"""
c

' This is multiline string \nencapsulated in 3 \ndouble quotes'

In [50]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [52]:
'i'll do my job!'

SyntaxError: invalid syntax (<ipython-input-52-6898db9e461c>, line 1)

In [53]:
'i\'ll do my job!' # escaping

"i'll do my job!"

In [54]:
hello = "hello\nworld"
print(hello)

hello
world

In [55]:
hello[0] ='H' #string are immutable

TypeError: 'str' object does not support item assignment

#### some common functions used for strings

In [30]:
"hello".capitalize() #capital the first letter

'Hello'

In [31]:
"umer".replace('u','O') #replace charaters in string

'Omer'

In [32]:
"hello".isalpha() # returns true if all character in string are alphabets

True

In [33]:
"h1".isalpha() # returns true if all character in string are alphabets

False

In [35]:
"123".isdigit()
# returns true if all character in string are digits else return false

True

In [37]:
a= "hi,my,dear".split(',') #split the string in to array 
print(a)
a[1]

['hi', 'my', 'dear']

'my'

In [39]:
name = "omer javed" 
# find word in a string if found return index of first letter return -1
name.find("javed")

5

In [40]:
first = "omer "   #concatenation is done using + symbol between two strings
last = "javed"
full_name = first + last
full_name

'omer javed'

In [41]:
str="nice to meet you"

In [42]:
machine = "Python"
name = "Omer"
"nice meet you {0},i am {1}".format(machine,name)

'nice meet you Python,i am Omer'

In [43]:
age = '22' # convert string into integer
age=int(age)
age

22

In [44]:
print("My name is",name)

My name is Omer

In [46]:
print("My name is {}. I am {} years old and I am learning {} "
      .format(name,22,machine))
#use format to print variable within a string

My name is Omer. I am 22 years old and I am learning Python

In [47]:
print("My name is {one}. I am {two} years old and I am learning  {three} ".format(one=name,two=22,three=machine))
#use format to print variable second way

My name is Omer. I am 22 years old and I am learning  Python

In [48]:
print(name[0:]) #print from 0 index to last
print(name[0:6]) #print string from index 0 to 6
print(name[0]) #print first charachter
print(name[7:]) #print everything after 7th index
print(name[-1]) #print from last index
print(name[-5:]) #print last 5 character
print(name[0:10:2]) # print from 0 index to 10 index step size is 2

Omer
Omer
O

r
Omer
Oe

### Dictionaries
     Dictionaries are unordered key-value pairs .Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object,Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

In [2]:
#initializing a dictionary
mybio = {'name':'omer','age':22,'class':'6 semester','hobby':'photography'}
print(mybio)

{'name': 'omer', 'age': 22, 'class': '6 semester', 'hobby': 'photography'}

In [3]:
#dictionay is a pair of key and value. By using key we can get value from that
print(mybio['name'])
print(mybio['age'])
print(mybio['class'])
print(mybio['hobby'])

omer
22
6 semester
photography

In [4]:
diction2 = {'k1':1,'k2':[1,2,3,4,5]}
print(diction2['k2'])
print(diction2['k2'][2])
#we can define list in dictionary

[1, 2, 3, 4, 5]
3

In [5]:
diction3 = {'n1':{'innerkey1':[11,22,33],'innerkey2':55},'n2':5}

In [6]:
print(diction3['n1']['innerkey1'])
print(diction3['n1']['innerkey1'][1])

#print inner dictionary and list value

[11, 22, 33]
22

In [7]:
print(mybio)

{'name': 'omer', 'age': 22, 'class': '6 semester', 'hobby': 'photography'}

### Funtions and method  for dictionaries

In [8]:
'age' in mybio # if key exist in dictionary it returns true

True

In [12]:
mybio.values() #all values in dictionary

dict_values(['omer', 22, '6 semester', 'photography'])

In [13]:
mybio.keys()  # all keys of dictionary

dict_keys(['name', 'age', 'class', 'hobby'])

In [14]:
mybio.items() #it gives all items in dictionary

dict_items([('name', 'omer'), ('age', 22), ('class', '6 semester'), ('hobby', 'photography')])

In [15]:
mybio.get('age') # get values of specific key

22

In [16]:
mybio['age'] #again it will give value of specific key

22

In [17]:
mybio['location']='Pakistan' #Adding new items
print(mybio)

{'name': 'omer', 'age': 22, 'class': '6 semester', 'hobby': 'photography', 'location': 'Pakistan'}

In [18]:
del mybio['class'] #delete item from dictionay
print(mybio)

{'name': 'omer', 'age': 22, 'hobby': 'photography', 'location': 'Pakistan'}

In [ ]:
mybio.clear() # delete whole dictionary